.app {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.app-header {
  background-color: #000;
  height: 12vh;
  margin: 0;
  color: white;
  display: grid;
  grid-template-columns: 48px auto 48px;
  align-items: center;
}

.app-title {
  font-size: 20px;
  letter-spacing: 2px;
}

.app-header {
    width: 100%;
}

.app-search {
    font-size: 20px;
    background-color: #000;
    color: #fff;
    border: none;
}

.app-search:hover {
    cursor: pointer;
}

.main {
    width: 100%;
    display: block;
}

.sidebar {
    width: 500px;
    height: 84vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #eee;
    position: fixed;
    z-index: 3;
}

.open  {
    left: 0;
    visibility: visible;
    transition: linear 0.2s;
}

.close {
    left: -500px;
    visibility: hidden;
    transition: linear 0.2s;
}

.search-text {
    width: 100%;
    line-height: 6vh;
}

.museums-list {
    height: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: left;
}

.museums-list-item {
    border: 0;
    font-size: 12px;
    padding: 8px 0 8px 16px;
    margin: 0;
    background-color: #eee;
    width: 100%;
    text-align: left;
}

.museums-list-item:hover {
    cursor: pointer;
    background-color: #444;
    color: #fff;
}

.selected {
    background-color: #000;
    color: #fff;
}

.museums-list-item:first-of-type {
    border-top: solid 1px #000;
}

.map-window {
    height: 100%;
    width: 100%;
}

.list-info {
    bottom: -20vh;
    z-index: 2;
    width: 300px;
    height: 20vh;
    font-size: 12px;
    transition: linear 0.2s;
    position: fixed;
    background-color: #fff;
    opacity: 0.8;
    border: solid 1px black;
    text-align: center;
}

.display {
    bottom: 4vh;
    transition: linear 0.2s;
}

.footer {
    background-color: #000;
    width: 100%;
    height: 4vh;
    display: flex;
    flex: nowrap;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: #fff;
    font-size: 12px;
}

.footer-logo {
    height: 3vh;
}

@media screen and (min-width: 600px) {
    
    .app-header {
        grid-template-columns: auto;
    }

    .app-title {
        font-size: 26px;
        letter-spacing: 3px;
    }

    .app-title:hover {
        cursor: pointer;
    }

    .app-search {
        display: none;
    }

    .main {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
    }

    .sidebar {
        width: 35%;
        z-index: 0;
    }

    .open,
    .close  {
        left: 0;
        visibility: visible;
        position: relative;
    }

    .select {
        background-color: #000;
        color: #fff;
    }

    .map-window {
        width: calc(65% - 1px);
        z-index: 0;
    }

    .map {
        border-left: solid 1px #000;
    }

}

@media screen and (min-width: 800px) {

    .museums-list-item {
        font-size: 14px;
    }
}

@media screen and (min-width: 1024px) {

    .app-title {
        font-size: 28px;
        letter-spacing: 4px;
    }

    .museums-list-item {
        font-size: 16px;
    }
}